<div id="liquid-if-demo">
  <div>
    <label>Are you a parent?
      {{input type="checkbox" checked=isParent}}
    </label>
  </div>
  <div>
    {{#liquid-if isParent}}
      <label>How many children do you have?</label>
      {{input type="number" value=numKids}}
    {{else}}
      I bet you get a lot of nice sleep.
    {{/liquid-if}}
  </div>
</div>
