.demo-container {
    border: 1px solid $near-black;
    position: relative;
    height: $line-height-computed*4;
    overflow: hidden;
    width: 20em;
    .liquid-child {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 0.5em $line-height-computed;
        @include baselined-px(24px);
    }
}

#liquid-bind-demo {
    @include baselined(3);
    text-align: center;
    > div {
	display: inline-block;
	height: 1.5em;
	width: 1.15em;
	text-align: center;
	vertical-align: top;
	overflow: hidden;

	/* without this, overflow:hidden won't take effect because the things
           we're trying to hide are on a separate accelerated
           context. */
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
    }
}

#liquid-if-demo {
    border: 1px solid $near-black;
    padding: 0 0.5em;
    label {
        font-weight: normal;
    }
    > div {
        position: relative;
        min-height: $line-height-computed*2;
    }
}

#liquid-measure-demo {
    display: flex;
    > div {
        flex: 1;
        padding: $line-height-computed;
        &:first-of-type {
            border-right: 1px solid $faint;
        }
    }
    label, input {
        display: block;
    }
    input, textarea {
        width: 100%;
    }
    .title {
        @include baselined(1.2);
        font-weight: bold;
    }
    p {
        background-color: white;
    }
    .post {
        border: 1px dashed $faint;
    }
    .size {
        color: $tertiary;
    }
}

#liquid-box-demo {
    border: 1px solid $secondary;
    background: $secondary-vl;
    width: 20em;
    border-radius: 3px;
    padding: $line-height-computed;
    input, select {
        margin-bottom: $line-height-computed;
    }
}