.demo-container {
    border: 1px solid $near-black;
    height: $line-height-computed*4;
    width: 20em;
    .liquid-child {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 0.5em $line-height-computed;
        @include baselined-px(24px);
    }
}

#liquid-bind-demo {
    @include baselined(3);
    text-align: center;
    .liquid-outlet {
	display: inline-block;
	vertical-align: top;
        margin-right: -20px;
    }
    .liquid-child {
        /* This prevents a slight horizontal wobble. */
        width: 1.5em;
    }
}

#liquid-if-demo {
    border: 1px solid $near-black;
    padding: 0 0.5em;
    margin-bottom: $line-height-computed;
    label {
        font-weight: normal;
    }
    > div {
        position: relative;
        min-height: $line-height-computed*2;
    }
}

#liquid-measure-demo {
    display: flex;
    > div {
        flex: 1;
        padding: $line-height-computed;
        &:first-of-type {
            border-right: 1px solid $faint;
        }
    }
    label, input {
        display: block;
    }
    input, textarea {
        width: 100%;
    }
    .title {
        @include baselined(1.2);
        font-weight: bold;
    }
    p {
        background-color: white;
    }
    .post {
        border: 1px dashed $faint;
    }
    .size {
        color: $tertiary;
    }
}

#liquid-box-demo {
    border: 1px solid $secondary;
    background: $secondary-vl;
    width: 20em;
    border-radius: 3px;
    padding: $line-height-computed;
    margin-bottom: $line-height-computed;
    input, select {
        margin-bottom: $line-height-computed;
    }
}

#interrupted-fade-demo {
    .liquid-outlet {
        width: 20em;
        height: $line-height-computed*4;
        border: 1px solid $near-black;
    }
    .liquid-child {
        text-align: center;
        width: 100%;
        height: 100%;
        @include baselined-px(24px);
    }
    .liquid-child > div {
        padding: 0.5em $line-height-computed;
        width: 100%;
        height: 100%;
    }
    .one {
        background-color: red;
    }
    .two {
        background-color: green;
    }    
    .three {
        background-color: blue;
    }
}