#inline-serial-scenario, #inline-scenario {
    border: 1px solid blue;
    width: 30em;
    label { display: block; }
    .liquid-container {
        border: 1px solid black;
        display: inline-block;
    }
}

#empty-if-scenario {
    border: 1px solid black;
    .liquid-child {
        height: 1.5em;
    }
}