html, body {
  margin: 20px;
}

.container {
    overflow: hidden;
    height: 400px;
    width: 400px;
    border: 1px solid blue;
    position: relative;
}

.liquid-child {
    width: 100%;
    height: 100%;
}

#measure-demo-target {
    float: left;
    border: 1px solid black;
    max-width: 10em;
}
