html, body {
  margin: 20px;
}

.container {
    overflow: hidden;
    height: 400px;
    width: 400px;
    border: 1px solid blue;
    position: relative;
}

.container .liquid-child {
    height: 100%;
    width: 100%;
}

#measure-demo-target {
    border: 1px solid black;
}


.demo-box {
    border: 1px solid red;
    overflow: hidden;
}

#test-if-container {
    position: relative;
    border: 1px solid black;
    overflow: hidden;
}

