<h2>Defining Transition Animations</h2>

<p>Transitions are defined by creating a module
like <code>app/transitions/my-transition.js</code> that exports a
function like this:</p>

{{code-snippet name="transition-skeleton.js"}}

<div class="callout callout-danger">Old school apps without a module
resolver can call <code>LiquidFire.defineTransition</code> instead. <a href="https://github.com/ef4/liquid-fire/blob/master/example/prebuilt-example.html">See the example</a>.</div>

<p>The function always receives at least two arguments:</p>

<dl class="dl-horizontal">
  <dt><code>oldView</code></dt>

  <dd>The outgoing view for this transition. It may be undefined when
  transitioning from an empty initial state.</dd>

  <dt><code>insertNewView</code></dt>

  <dd>This is always a function that returns a promise. Call this
  function when you're ready to insert the new view into the DOM. It
  will resolve to the newView. The newView may be undefined if your
  transition has already been interrupted, so you should always
  tolerate an undefined newView.</dd>
</dl>

<div class="callout callout-info">
  <h3>Why "insertNewView" instead of "newView"?</h3>

  Because sometimes you want to animate the views in parallel, and
  sometimes you want to animate them in series. In the series case,
  your transition may get interrupted before the new view is even
  needed, in which case we can avoid inserting it entirely.
</div>

<p>Any remaining arguments will come directly from <code>use</code>
statements in transition rules. For example:</p>

{{code-snippet name="transition-arguments.js"}}

<p>You can define new transitions in terms of existing transitions
by currying arguments:</p>

{{code-snippet name="curried-transition.js"}}

