<h2>Transitions</h2>

<p>Transitions implement animation between two states. When a
<LinkTo @route="helpers-documentation.index">template helper</LinkTo> undergoes a
state change, it consults the <LinkTo @route="transition-map.index">transition map</LinkTo> to see if there's a
matching transition. If it finds one, the transition is given the job
of orchestrating the view animations to get from the old state to the
new state.</p>

<p>The library ships with some <LinkTo @route="transitions.predefined">predefined transitions</LinkTo>. But it's
also expected that people will want to <LinkTo @route="transitions.defining">compose their own</LinkTo> out of
<LinkTo @route="transitions.primitives">lower-level pieces</LinkTo>.</p>
