<h2>Predefined Transitions</h2>

<p>So far, the library includes a small set of predefined transitions
to get you started.</p>

<dl class="dl-horizontal">
  <dt>toLeft<br>toRight<br>toUp<br>toDown</dt>
  <dd>These are slide animations powered by the
  CSS <code>transform</code> property. They all accept an optional
  hash that's passed onward to Velocity for both the outgoing and
  incoming animations.</dd>

  <dt>crossFade</dt>
  <dd>Old content fades away toward opacity 0 while new content fades
  in.</dd>

  <dt>fade</dt>
  <dd>Old content fades away toward opacity 0, then new content fades
  in. This is a good example of a serial animation with support for
  interruption.</dd>
</dl>

<p>It may be instructive to <a href="https://github.com/ef4/liquid-fire/tree/master/app/transitions">read the source for these predefined transitions</a>.</p>
