<h3>Demo</h3>
<button id="force-tick" type="button" {{action "forceTick"}}>Force Tick</button>


{{!- BEGIN-SNIPPET liquid-bind-demo -}}
<div id="liquid-bind-demo">
  {{liquid-bind this.hours}}:{{liquid-bind this.minutes}}:{{liquid-bind this.seconds}}
</div>
{{!- END-SNIPPET -}}
