<h2>\{{liquid-bind}}</h2>

<p>Renders a bound value into your template, and uses the transition
map to decide how to animate whent eh bound value changes.</p>

<h3>Demo</h3>

<div id="liquid-bind-demo">
  <div>{{liquid-bind hours}}</div>:<div>
    {{liquid-bind minutes}}</div>:<div>
    {{liquid-bind seconds}}</div>
</div>
