<div style="background-color: red; height: 100%">
Hi

{{#link-to "test-outlet.second"}}Second Route{{/link-to}}
{{#link-to "test-outlet.third" 1}}Third 1{{/link-to}}
{{#link-to "test-outlet.third" 2}}Third 2{{/link-to}}

</div>
