<div id="growable-with-scenario" >
  <label><Input @type="checkbox" @checked={{this.otherState}} /> Swap Em</label>

  {{#liquid-bind this.myThing use="to-left" as |m|}}
    {{m.description}}
  {{/liquid-bind}}
</div>
