<div id="growable-with-scenario" >
  <label>{{input type="checkbox" checked=otherState}} Swap Em</label>

  {{#liquid-with myThing as m use="to-left" }}
    {{m.description}}
  {{/liquid-with}}
</div>
