<div id="growable-with-scenario" >
  <label>{{input type="checkbox" checked=otherState}} Swap Em</label>

  {{#liquid-bind myThing use="to-left" as |m|}}
    {{m.description}}
  {{/liquid-bind}}
</div>
