<div id="inline-serial-scenario" >
  <label>{{input type="checkbox" checked=otherState}} Swap Em</label>

  {{#liquid-if otherState }}
    One.
  {{else}}
    Two Three Four Five Six Two Three Four Five Six Two Three Four Five
    Six Two Three Four Five Six.
  {{/liquid-if}}
</div>
