<button type="button" {{action "addThing"   }}>More Things</button>
<button type="button" {{action "removeThing"}}>Less Things</button>

<LiquidSpacer @id="spacer-test">
  <ol>
  {{#each this.things key="number" as |thing|}}
    <li>{{thing.number}}</li>
  {{/each}}
  </ol>
</LiquidSpacer>