<h2 id='title'>Welcome to Ember.js</h2>

<div class="yoo">
  <button {{action 'toggle'}}>
    toggle
  </button>

  {{#liquid-if isExpanded class="menu"}}
  <ul>
    <li><a>a</a></li>
    <li><a>b</a></li>
    <li><a>c</a></li>
    <li><a>d</a></li>
  </ul>
  {{/liquid-if}}
</div>
