<div id="versions-test">

  Versions

  {{input type="text" value=nextName action="submitName" on="insert-newline"}}
  <button {{action "submitName"}}>Go</button>

  {{#liquid-container as |container|}}
    {{#liquid-versions value=name notify=container as |nameVersion|}}
      {{#if (is-equal nameVersion 'ed')}}
        <div>Yo Ed</div>
        <div>Yo Ed</div>
        <div>Yo Ed</div>
      {{else}}
        <div>Hello {{nameVersion}}</div>
      {{/if}}
    {{/liquid-versions}}
  {{/liquid-container}}
</div>