<h2>Choosing Transition Animations</h2>

<p>Each transition rule must have exactly one <code>use()</code>. It
determins what we'll do if the rule matches.</p>

{{code-snippet name="use-examples.js"}}
