<h2>Defining Transition Animations</h2>

<p>In most of the examples in this guide, we refer to predefined
transition animations like 'toLeft' and 'crossFade'. This section
explains how such animations are implemented so you can create your
own.</p>

<p>Here is the definition of 'crossFade':</p>

{{code-snippet name="cross-fade-definition.js"}}
