<h2>Model Constraints</h2>

<dl class="dl-horizontal">
  <dt>fromModel</dt>
  <dd>Matches the model before the transition.</dd>
  <dt>toModel</dt>
  <dd>Matches the model after the transition.</dd>
  <dt>betweenModels</dt>
  <dd>Matches the model both before and after the transition.</dd>
</dl>

<p>Here are examples to illustrate model constraints:</p>

{{code-snippet name="model-match-examples.js"}}
