<div id="growable-with-scenario" >
  <label><Input @type="checkbox" @checked={{this.otherState}} /> Swap Em</label>

  <LiquidBind @value={{this.myThing}} @use="to-left" as |m|>
    {{m.description}}
  </LiquidBind>
</div>
