<div id="inline-serial-scenario" >
  <label><Input @type="checkbox" @checked={{this.otherState}} /> Swap Em</label>

  {{#liquid-if this.otherState }}
    One.
  {{else}}
    Two Three Four Five Six Two Three Four Five Six Two Three Four Five
    Six Two Three Four Five Six.
  {{/liquid-if}}
</div>
