{{! template-lint-disable require-input-label }}
<Input @type="checkbox" @checked={{this.showingRow}} />
<table>
  <tbody>
    <tr><td>Static Row</td></tr>
    <LiquidIf @predicate={{this.showingRow}} @containerless={{true}} @use="fade">
      <td>Dynamic Row</td>
    </LiquidIf>
  </tbody>
</table>
