<Input @type="checkbox" @checked={{this.showingRow}} />
<table>
  <tbody>
    <tr><td>Static Row</td></tr>
    {{#liquid-if this.showingRow containerless=true use="fade" }}
      <td>Dynamic Row</td>
    {{/liquid-if}}
  </tbody>
</table>
