<h1>Installing</h1>

<p>Using <a href="http://ember-cli.com">ember-cli</a> you can
install the liquid-fire addon using:</p>

<pre>ember install liquid-fire</pre>

<h4>Supported Ember Versions and Semver</h4>

<p>The <code>master</code> liquid-fire branch is compatible with Ember 1.13
  through canary, and is released as the newest available liquid-fire
  version on npm.</p>

<p>The <code>stable</code> liquid-fire branch is compatible with Ember 1.11
  and 1.12 and is released on npm as the 0.19.x series. It will
  continue to receive high priority bugfixes, but new features are
  only happening on master.</p>

<p>The <code>oldstable</code> liquid-fire branch is compatible with Ember 1.8.1
  through 1.10.0 and is released on npm as the 0.17.x series. It will
  continue to receive high priority bugfixes, but new features are
  only happening on master.</p>

<p>As liquid-fire is still pre-1.0, you can expect breaking changes,
which will be described in the <a
href="https://github.com/ef4/liquid-fire/blob/master/CHANGELOG.md">CHANGELOG</a>.</p>
