{{!- BEGIN-SNIPPET hello-modal -}}
<div>{{salutation}} {{person}}!</div>
<button {{action "gotIt"}} class="done">Thanks</button>
<button {{action "change"}} class="change">Change</button>
{{!- END-SNIPPET -}}
