<h3 id="force-tick" {{action "forceTick"}}>Demo</h3>

{{!- BEGIN-SNIPPET liquid-bind-demo -}}
<div id="liquid-bind-demo">
  {{liquid-bind hours}}:{{liquid-bind minutes}}:{{liquid-bind seconds}}
</div>
{{!- END-SNIPPET -}}
