{{#if topic}}
  {{#if topic.route}}
    {{#link-to topic.route class="page-link"}}
      {{#if back}}
        <span aria-hidden="true">&laquo;</span>
      {{/if}}
      {{topic.title}}
      {{#if forward}}
        <span aria-hidden="true">&raquo;</span>
      {{/if}}
    {{/link-to}}
  {{else}}
    <div class="page-link">
      {{#if back}}
        <span aria-hidden="true">&laquo;</span>
      {{/if}}
      {{if topic.title topic.title topic}}
      {{#if forward}}
        <span aria-hidden="true">&raquo;</span>
      {{/if}}
    </div>
  {{/if}}
{{/if}}
