<select onchange={{action (mut this.value) value="target.value"}}>
  {{#each this.choices key="@identity" as |choice|}}
    <option value={{choice}} selected={{is-equal this.value choice}}>{{choice}}</option>
  {{/each}}
</select>
