<select onchange={{action (mut value) value="target.value"}}>
  {{#each choices key="@identity" as |choice|}}
    <option value={{choice}} selected={{is-equal value choice}}>{{choice}}</option>
  {{/each}}
</select>
