<p id="warn-popup">Warning! This simulates a scary warning. Boo!</p>

<p>This modal is scoped to the whole application, so you can
stick <pre>?warn=1</pre> on the end of the URL to bring it up from any
page.</p>

<i>Dismiss by clicking outside the popup, or hitting the escape key, or the back button.</i>
