<h2>Choosing Transition Animations</h2>

<p>Each transition rule must have exactly one <code>use()</code>
statement. It determines what we'll do if the rule matches.</p>

<p>Each transition may also have one <code>reverse()</code>
statement. It determines what we'll do if the <i>opposite rule</i>
matches, where the opposite rule swaps <code>fromRoute</code>
with <code>toRoute</code> and swaps <code>fromModel</code>
with <code>toModel</code>.</p>

{{code-snippet name="use-examples.js"}}
