<h2>Debugging Transition Matching</h2>

<p>Transition rules that don't match one of their constraints don't run. Sometimes
it can be confusing to understand why a rule is not executing. That is when you
should reach for <code>debug()</code>. It will log to the console the results
for each constraint and rule as it executes.</p>

<CodeSnippet @name="debug-example.js" />
