.demo-container {
    border: 1px solid $near-black;
    height: $line-height-computed*4;
    width: 20em;
    .liquid-child {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 0.5em $line-height-computed;
        @include baselined-px(24px);
    }
}

#liquid-bind-demo {
    @include baselined(3);
    text-align: center;
    .liquid-container {
	display: inline-block;
	vertical-align: top;
    }
    .liquid-child {
        /* This prevents a slight horizontal wobble in firefox. */
        width: 1.5em;
    }
}

#liquid-box-demo {
    outline: 1px solid $secondary;
    background: $secondary-vl;
    width: 20em;
    border-radius: 3px;
    padding: $line-height-computed;
    margin-bottom: $line-height-computed;
    input, select {
        margin-bottom: $line-height-computed;
    }
}

#interrupted-fade-demo {
    .liquid-container {
        width: 20em;
        height: $line-height-computed*4;
        border: 1px solid $near-black;
    }
    .liquid-child {
        text-align: center;
        width: 100%;
        height: 100%;
        @include baselined-px(24px);
    }
    .liquid-child > div {
        padding: 0.5em $line-height-computed;
        width: 100%;
        height: 100%;
    }
    .one {
        background-color: red;
    }
    .two {
        background-color: green;
    }    
    .three {
        background-color: blue;
    }
}

#basic-modal-demo {
    button {
        font-size: 2em;
        height: $line-height-computed * 2;
    }
}

.lf-dialog {
    border-radius: 5px;
}

#liquid-spacer-demo {
    border: 1px solid black;
    width: 20em;
    padding: 0.5em 1.5em;
}