#inline-serial-scenario, #inline-scenario, #growable-with-scenario {
    border: 1px solid blue;
    width: 30em;
    label { display: block; }
    .liquid-container {
        border: 1px solid black;
        padding: 11px;
        display: inline-block;
    }
}

#empty-if-scenario {
    border: 1px solid black;
    .liquid-child {
        height: 1.5em;
    }
}

#growable-flexboxes-scenario {
    .liquid-child {
        border: 1px solid blue;
        min-height: 6em;
        text-align: center;
    }

    .flex-parent {
        display: flex;
        min-height: 6em;
    }
}

#nested-outlet-scenario {
    width: 20em;
    border: 1px solid black;
    padding: 2em;
}

td {
    border: 1px solid black;
}

#spacer-test {
    border: 1px solid black;
    ol {
        padding: 0 2em;
    }
}