@import 'colors';
@import 'bootstrap';

@import 'callout';
@import 'demos';
@import 'nav';
@import 'navbar';
@import 'scenarios';
@import 'typography';

.lf-content {
  margin-top: 4rem;
}

.lf-body {
  padding: 2rem;
}

.code-snippet {
  background-color: #f8f8f8;
  padding: 1rem;
}
