<h2>Template Helpers</h2>

<dl class="dl-horizontal">
  <dt>{{#link-to "helpers-documentation.liquid-outlet"}}\{{#liquid-outlet}}{{/link-to}}</dt>
  <dd>Transitions between routes.</dd>

  <dt>{{#link-to "helpers-documentation.liquid-with"}}\{{#liquid-with}}{{/link-to}}</dt>
  <dd>Transitions between models or contexts within a single route.</dd>

  <dt>{{#link-to "helpers-documentation.liquid-bind"}}\{{#liquid-bind}}{{/link-to}}</dt>
  <dd>Updates to simple bound values.</dd>

  <dt>{{#link-to "helpers-documentation.liquid-if"}}\{{#liquid-if}}{{/link-to}}</dt>
  <dd>Switching between true and false branches in an #if statement.</dd>

  <dt>{{#link-to "helpers-documentation.liquid-measure"}}\{{#liquid-measure}}{{/link-to}}</dt>
  <dd>Provides bindable properties that track the size (in pixels) of its content.</dd>

  <dt>{{#link-to "helpers-documentation.liquid-box"}}\{{#liquid-box}}{{/link-to}}</dt>
  <dd>Grows and shrinks based on the size of its content.</dd>
  

</dl>
