<h2>Writing Modal Components</h2>

<p>Modal dialogs are just normal Ember components. They offer a simple
protocol for some common behaviors.</p>

<dl>
  <dt>dismiss</dt>
  <dd>If you <code>sendAction('dismiss')</code>, we will dismiss the
    dialog. This also necessarily sets your <code>withParams</code> to
    their default values.
  </dd>

  <dt>outsideClick</dt>
  <dd>By default, we will automatically dismiss if the user clicks
    ouside the dialog box. But if you
    set <code>dismissWithOutsideClick</code> to false in your call to
    {{#link-to "modal-documentation.modal"}}modal{{/link-to}}, you
    will receive <code>outsideClick</code> events instead.
  </dd>

  <dt>escape</dt>
  <dd>By default, we will automatically dismiss if the user hits the
    escape key. But if you set <code>dismissWithEscape</code> to false
    in your call to {{#link-to
    "modal-documentation.modal"}}modal{{/link-to}}, you will
    receive <code>escape</code> events instead.
  </dd>
</dl>

<p>You can style your dialog box by targeting
the <code>lf-dialog</code> class. You can style the background overlay
shadow by targeting the <code>lf-overlay</code> class.</p>
