{{#liquid-with currentContext as cc class="lm-with"}}
  {{#lm-container action="escape"}}
    <div>
      {{view innerView dismiss="dismiss"}}
    </div>
    {{lf-overlay clickAway="outsideClick"}}
  {{/lm-container}}
{{/liquid-with}}
