{{#liquid-with currentContext as cc class="lm-with" containerless=true}}
  {{#lm-container action="escape"}}
    <div class="lf-dialog" role="dialog" {{bind-attr aria-labelledby="cc.opts.ariaLabelledBy" aria-label="cc.opts.ariaLabel"}}>
      {{view innerView dismiss="dismiss"}}
    </div>
    {{lf-overlay clickAway="outsideClick"}}
  {{/lm-container}}
{{/liquid-with}}
