{{#liquid-with currentContext as cc class="lm-with"}}
  <div class="lm-container">
    <div>
      {{view innerView model=cc.model}}
    </div>
    {{lf-overlay action="clickedOutside"}}
  </div>
{{/liquid-with}}
