<h2>
  Media Query Constraints
</h2>

<p>
  This constraint allows you to define transitions that will conditionally run depending on a media query. This allows you to define a different transition to run on a mobile screen as opposed to a desktop.
</p>

<p>
  To use this constraint just include the
  <code>
    media()
  </code>
  method and pass it a valid
  <a href="http://www.w3.org/TR/css3-mediaqueries/" alt="w3c media query specs">
    media query
  </a>
  .
</p>

<p>
  Here are a few basic examples:
</p>

<CodeSnippet @name="media-match-examples.js" />