<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">Liquid Fire</div>
      <div class="col-xs-6" style="text-align: right">
        <a href="https://github.com/ef4/liquid-fire">
          <img src="/GitHub-Mark-Light-32px.png">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container main">
  <div>
    <div class="content">
      {{outlet}}
    </div>

    <ul>
      <li>{{#link-to "index"}}Introduction{{/link-to}}</li>
      <li>
        {{#link-to "helpers"}}Template Helpers{{/link-to}}
        <ul>
          <li>{{#link-to "helpers.liquid-outlet"}}liquid-outlet{{/link-to}}</li>
          <li>{{#link-to "helpers.liquid-with"}}liquid-with{{/link-to}}</li>
          <li>{{#link-to "helpers.liquid-bind"}}liquid-bind{{/link-to}}</li>
          <li>{{#link-to "helpers.liquid-if"}}liquid-if{{/link-to}}</li>
          <li>{{#link-to "helpers.liquid-measure"}}liquid-measure{{/link-to}}</li>
          <li>{{#link-to "helpers.liquid-box"}}liquid-box{{/link-to}}</li>
        </ul>
      </li>
      <li>
        Transition Map
        <ul>
          <li>Matching by route</li>
          <li>Matching by context</li>
          <li>Defining transitions</li>
        </ul>
      </li>
      <li>
        Transitions
        <ul>
          <li>Predefined transitions</li>
          <li>Custom transitions</li>
          <li>animate</li>
          <li>stop</li>
        </ul>
      </li>

    </ul>
  </div>
</div>


