<h2>Liquid Fire: Animations & Transitions for Ember Apps</h2>

<p>Liquid Fire is a toolkit for managing animated transitions in an
Ember application. Like Ember itself, our goal is to cultivate shared
abstractions so we can be free to focus on bigger and better
ideas. <em>Good defaults. Convention over configuration. Composable
pieces all the way down.</em></p>

