<h2>Testing the liquid-with helper</h2>
{{#liquid-with model controller="sample"}}
  The model has {{id}}.
  {{#if usingSampleController}}
    Yay, have right controller.
  {{/if}}
  <button {{action "increment"}}>Increment</button>
{{/liquid-with}}
