<h2>Testing the liquid-with helper</h2>
<div class="container">
  {{#liquid-with model as foo controller="sample"}}
    The model has {{foo.id}}.
    {{#if foo.usingSampleController}}
      Yay, have right controller.
    {{/if}}
    <button {{action "increment"}}>Increment</button>
    <button {{action "decrement"}}>Decrement</button>
  {{/liquid-with}}
</div>
