<div class="callout callout-info">This helper accepts
a <code>use</code> option that lets you provide a transition name
directly (example: <code>use="crossFade"</code>), skipping the
transition map. This is useful for the simplest cases in which you
don't care about context at all and always want to use the same
animation.
</div>
